---
    import '../../css/EstilosGenerales.css';
---

<style>
    #imagenBlast{
        position: relative;
        top: -150px;
        z-index: -1;
    }
</style>


<section class="container mx-auto flex flex-row justify-between items-center py-10">

    <div id="infoContent">
      <h1 class="titulosCoffee">Descubre el mejor cafe</h1>
      <p class="textCoffeParrafo">
        Bean Scene es una cafetería que te ofrece café de calidad que ayuda a aumentar tu productividad y a mejorar tu estado de ánimo. Tomar una taza de café es bueno, pero tomar una taza de café de verdad es aún mejor. No hay duda de que disfrutarás de este café más que de otros que hayas probado jamás.
      </p>
      <button class="custom-button rounded-l-full rounded-r-full" >
        Saber m&aacute;s
      </button>
      
    </div>
    
    <div id="imgContent">
      <img width="700" height="700" src="/src/assets/images/CafeTaza.webp" alt="Café" />
    </div>

</section>
<img id="imagenBlast" src="/src/assets/images/coffeBlast.png" alt="">