---

---

<div>
    <h1>Bean Coffee</h1>
    <nav>
        <a href="#">Inicio</a>
        <a href="#">Menu</a>
        <a href="#">Nosotros</a>
        <a href="#">Contactanos</a>
    </nav>

    <ul>
        <li><a href="#">Ingresar</a></li>
        <li><a href="#">Registrarse</a></li>
    </ul>
</div>