---
    import '../../css/EstilosGenerales.css';
---

<style>
    
    
    #tituloCoffe{
        font-family: 'ClickerScript';
        font-size: 220px;
    }    

</style>

<div class="mx-auto pt-10 container">
    <p class="textCoffeParrafo">Tenemos su mañana cubierta con</p>
    <p id="tituloCoffe">Coffe</p>
    <p class="textCoffeParrafo">
        Lo mejor es empezar el día con una taza de café. Descubra los
        mejores sabores de café que jamás hayas probado. Ofrecemos lo mejor
        para nuestros clientes.
    </p>
    
</div>
<div class="mx-auto container">
    <button class="custom-button rounded-l-full rounded-r-full" >
        Ordenar ahora
    </button>
</div>
