<div>
    <p>We’ve got your morning covered with</p>
    <p>Coffe</p>
    <p>
        It is best to start your day with a cup of coffee. Discover the
        best flavours coffee you will ever have. We provide the best
        for our customers.
    </p>
    <button>
        Order Now
    </button>
</div>