---
    import '../../css/EstilosGenerales.css';
---

<style>
    
    #titulo1, #subtitulo{
        font-family: 'PlayFair';
        font-size: 22px;
        line-height: 33px;
        width: 527px;
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #tituloCoffe{
        font-family: 'ClickerScript';
        font-size: 220px;
    }    

</style>

<div class="mx-auto pt-10 container">
    <p id="titulo1">Tenemos su mañana cubierta con</p>
    <p id="tituloCoffe">Coffe</p>
    <p id="subtitulo">
        Lo mejor es empezar el día con una taza de café. Descubra los
        mejores sabores de café que jamás hayas probado. Ofrecemos lo mejor
        para nuestros clientes.
    </p>
    
</div>
<div class="mx-auto container">
    <button class="custom-button rounded-l-full rounded-r-full" >
        Order Now
    </button>
</div>
