---
import SceneCoffeeHeaderInfo from "./SceneCoffeeHeaderInfo.astro";
import SceneCoffeeHeaderNav from "./SceneCoffeeHeaderNav.astro";

---
<div class="fondoCoffee">
    <SceneCoffeeHeaderNav/>
    <SceneCoffeeHeaderInfo/>
</div>

<style>
   .fondoCoffee{
    background-image: url("../../assets/CoffeImageHeader.webp");
   }

</style>